<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         name="eliminarLineas"
         point="dasof.procesarficheros.procesarsource">
      <procesador
            class="lineasvacias.EliminarLineasVacias"
            directlocation="false"
            extensions="rb java"
            gensresult="false"
            name="lineasvacias.procesador">
      </procesador>
   </extension>

</plugin>
